*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-size: 12px;
    line-height: 1.2em;
    color: #333;
    padding: 20px;;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*清除浮动*/
.clearfix{
    *height: 1%;
}
.clearfix:after{
    height: 0;
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
}

#list{
    width: 540px;
    margin: 0 auto;
}
.box{
    border-top: 1px solid #eee;
    padding: 20px 0;
    width: 540px;
    position: relative;
}
.box:hover .close{
    display: block;
}
.box .close{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    text-align: center;
    float: right;
    font-size: 16px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #f2f4f7;
}
.box .close:hover{
    background: #c8d2e2;
    text-decoration: none;
}
.head{
    float: left;
    line-height: 0;
}
.head img{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.content{
    float: left;
    width: 440px;
}
.content .main{
    margin-bottom: 10px;
}
.main .txt{
    margin-bottom: 10px;
    font-size: 14px;
}
.user{
    color: #369;
}
.pic{
    margin-right: 5px;
    width: 200px;
    border: 1px solid #eee;
}
.info{
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    margin-bottom: 10px;
}
.info .time{
    color: #ccc;
    line-height: 19px;
    float: left;
    padding-left: 20px;
    background: url("img/bg1.jpg") no-repeat left top;
}
.info .praise{
    float: right;
    color: #369;
    background: url("img/bg2.jpg") no-repeat left top;
    padding-left: 16px;
}
.info .praise:hover{
    background: url("img/bg3.jpg") no-repeat left top;
    padding-left: 16px;
}
.praises-total{
    height: 20px;
    line-height: 19px;
    font-size: 12px;
    color: #000;
    background: url("img/bg2.jpg") no-repeat 5px 6px rgb(247, 247, 247);
    padding: 5px 0 5px 25px;
    margin-bottom: 10px;
}
.comment-list{
    width: 440px;
}
.comment-box{
    padding: 10px 0;
    border-top: 1px solid #eee;
}
.comment-box:hover{
    background: rgb(247, 247, 247);
}
.comment-box .myhead{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.comment-box .comment-content{
    float: left;
    width: 400px;
}
.comment-box .comment-content .comment-time{
    color: #ccc;
    margin-top: 3px;
    line-height: 16px;
    position: relative;
}
.comment-box .comment-content .comment-praise{
    display: none;
    color: #369;
    padding-left: 17px;
    height: 20px;
    background: url("img/praise.png") no-repeat;
    position: absolute;
    right: 44px;
    bottom: 0;
}
.comment-box .comment-content .comment-operate{
    display: none;
    color: #369;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.comment-box .comment-content:hover .comment-praise{
    display: block;
}
.comment-box .comment-content:hover .comment-operate{
    display: block;
}
.text-box .comment{
    width: 428px;
    height: 15px;
    line-height: 15px;
    padding: 5px;
    border: 1px solid #eee;
    color: #ccc;
    resize: none;
}
.text-box .btn{
    display: none;
    float: right;
    width: 65px;
    height: 25px;
    border: 1px solid #0C528D;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background: #4679AC;
    outline: none;
    cursor: pointer;
}
.text-box .word{
    display: none;
    float: right;
    margin: 7px 10px 0 0;
    color: #666;
}
.text-box .btn-off {
    border: 1px solid #ccc;
    color: #ccc;
    background: #F7F7F7;}
.text-box-on .comment{
    height: 50px;
    color: #333;}
.text-box-on .btn{ display: inline;}
.text-box-on .word{ display: inline;}